/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
ul#slider2 {
  max-width: 100%!important;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #0000ff00; /* Fix for IE6-9 */
  opacity: 0.6;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 12;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: red;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

/*
slider css end */



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  background-image: linear-gradient(to bottom, #f48c82de, #fda07dad, #ffb57ba6, #ffcc7fb5, #fce389fa);
}
.rslides_container {
    position: relative;
}
ul.transparent-btns_tabs.transparent-btns1_tabs {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 13;
    right: 0;
}
.slider-text {
    top: 48%;
    transform: translateY(-50%)!important;
    position: absolute;
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    height: fit-content;
}
h2.slide1-heading {
    font-size: 3.5rem;
    font-family: 'Kaushan Script', cursive;
}
h1.slide1-description {
  margin: auto;
  line-height: 5.8rem;
    font-weight: bold;
    font-family: montserrat;
    font-size: 6.5rem;
    text-transform: uppercase;
    width: 50%;
}
.rslides img {
    object-fit: cover;
    display: block;
    height: 100vh;
    float: left;
    width: 100%;
    border: 0;
}
.rslides hr {
    width: 62px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem!important;
    border: 0;
    border-top: 3px solid rgb(255, 255, 255)!important;
}
button {
    padding: 5px 30px;
    border: 2px solid;
    background-color: #f5deb300;
}
button a {
    color: white!important;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

ul.transparent-btns_tabs.transparent-btns1_tabs {
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 0;
    position: absolute;
    z-index: 13;
    right: 0;
}
ul.transparent-btns_tabs.transparent-btns1_tabs {
    bottom: 44px;
    position: relative;
}
ul.transparent-btns_tabs.transparent-btns1_tabs a{
  display: inline-flex;
  background: white;
    width: 14%;
    margin: 0 10px;
    height: 3px;
}
.centered-btns_here a, .large-btns_here a {
    background: #f38181!important;
}
li.transparent-btns1_s1{
  position: relative;
}
li.transparent-btns1_s1:after {
content: '01 INTRO';
    color: white;
    position: absolute;
    left: 10px;
    left: 3;
    top: 9px;
  }
li.transparent-btns1_s2{
  position: relative;
}
li.transparent-btns1_s2:after {
content: '02 WORK';
    color: white;
    position: absolute;
    left: 10px;
    left: 3;
    top: 9px;
}

li.transparent-btns1_s3 {
    position: relative;
}
li.transparent-btns1_s3:after {
content: '03 ABOUT';
    color: white;
    position: absolute;
    left: 10px;
    left: 3;
    top: 9px;
}
li.transparent-btns1_s4 {
    position: relative;
}
li.transparent-btns1_s4:after {
content: '04 CONTACTS';
    color: white;
    position: absolute;
    left: 10px;
    left: 3;
    top: 9px;
}
.transparent-btns_here{
  position: relative;
}
.transparent-btns_here:before{
    content: "";
    height: 3px;
    background: #f38181!important;
    width: 91%;
    position: absolute;
    left: 10px;
    -webkit-animation: loading-animation 4s; /* Safari 4.0 - 8.0 */
    animation: loading-animation 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes loading-animation {
  from {width: 0%;}
  to {width: 91%;}
}

/* Standard syntax */
@keyframes loading-animation {
  from {width: 0%;}
  to {width: 91%;}
}

.rslides_container li:after {
    font-weight: 200;
    font-family: montserrat;
}

/*testimonial slided*/
a.transparent-btns_nav.transparent-btns2_nav.prev:after {
position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f104';
    font-size: 44px;
    left: 40px;
    font-family: fontAwesome;
    color: black;
}
.transparent-btns_nav {
    text-indent: 0;
    height: 100%;
}
.transparent-btns_nav.next:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f105';
    font-size: 44px;
    right: 40px;
    font-family: fontAwesome;
    color: black;
}

/*slick */



