.site-footer {
	padding: 2rem 0;
	background-color: #f9f6f600;
	font-family:montserrat;
	
	p {
		margin-bottom: 0;
		// color: #cccccc;
		font-size: 14px;
	}
	
	a {
		color: #cccccc;
		&:hover {
			text-decoration: none;
		}
	}

	strong {
		display: -webkit-box;
		h3 {
			font-weight: bold;
		}
		p {

			margin-left: 5px;
			margin-top: 10px;
			margin-bottom: 0;
			color: #212529;
		}
	}
	
	.site-description {
		margin: 22px 0;
	}
	.footer-contents {
		text-align: left;
		margin-bottom: 64px;

		.footer-blog {
			figure {
				width: fit-content;
			    position: relative;
			    left: 50%;
			    transform: translateX(-50%);
			    margin: 0 0 1rem;
			}
			.footer-text-contents{
				text-align: left;
				small {
						position:absolute;
						top: 50%;
						transform: translateY(-50%);
						h5 {
						font-size: 14px;
						margin-left: 10px;
						}

						p {
							font-style: italic;
							font-size: 13px;
							margin-left: 10px;
						}
					}
			}

		}


		.header-logo {
			font-weight: bold;
		    font-family: montserrat;
		    font-size: 29px;
		    color: #929eaa;
		}
		hr {
			margin-top: 0;
			margin-bottom: 5px;
		}
		.social-icon {
			display: inline-flex;
			p {
				margin-top: 3px;
				font-style: italic;
				margin-right: 10px;
			}

				  ul {
				  	list-style-type: none;
				  	margin: 0;
				  	padding: 0;
				  	li {
				  		display: inline-block;
				  		width: auto;
				  		svg {
				  			margin: 0 2px;
				  			font-size: 14px;
				  			color: #95e1d3;
				  		}
				  	}
				  }


				}
			form#mc4wp-form-1 {
			    margin-top: 20px;
		
				.mc4wp-form-fields {
					margin-top: 21px;
					display: inline;
						p {
						    max-width: 50%;
						    display: inline;
						    	input[type="submit"] {
						    	float: right;
								width: 50%;
							    right: 0;
							    top: 0;
								border: 2px solid transparent;
								padding:4.4px 0;
								background: #95e1d3;
								font-size: 15.2px;
								border-radius: 0;
								color: #fff;
							}
								input[type="email"] {
									width: 50%;
									padding: 6px 4px;
									font-style: italic;
									border-radius: 0;
									border-right: 0;
								}
						}
				
					}
				}
			}
		}