
main {

	.header {
		text-align: center;
		width: 100%;
		padding-bottom:40px;
	&__caption {
			font-family: kaushan script;
		}
	&__heading {
			font-family: montserrat;
			font-weight: bold;
			text-transform: uppercase;
			&::after {
		    content: "";
		    margin: auto;
		    display: block;
		    width: 52px;
		    padding-top: 14px;
		    border-color: #e68c83;
		    border-bottom: 2px solid #f76c6f;
			}
		}
	&__description {
			padding-top: 10px;
			font-size: 15px;
			width: 75%;
			margin:auto;
		}
		

	}


		

	#about-us-section {
			.overlay {
				position:relative;
				margin-top: 20px;
				height: auto;
					
				&__item {
					z-index: 13;
					position: absolute;
					right: 0;
					left: 0;
					opacity: 0;
					transform: translateY(-50%);
					top: 50%;
					text-align: center;
					&--text {
						color: white!important;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 15px;
						font-family: montserrat;
						font-weight: bold;
					}
				
				}
				&__image {
						width: 100%;
					}
				


			&:hover {
							.overlay__item{
							opacity: 1;
							}	
							&::after {
								 content: "";
							    top: 0;
							    left: 0;
							    position: absolute;
							    background-color: #b5b53a6b;
							    width: 100%;
							    height: 100%;
							    box-shadow: 7px 7px #95e1d3;
							    transition: .5s ease;
							    background-image: linear-gradient(to bottom, #f48c82de, #fda07dad, #ffb57ba6, #ffcc7fb5, #fce389fa);

							}
					}	
				
			}
	}


	/*counter*/
	.counter-section  {
		background-color: #95e1d3;
		margin-top: 80px;
		
	
		
		.counter {
			height: 100%;
			border-right: 1px solid white;
			padding: 42px 0;
			border-radius: 0;
		}
		.border-left {
			
			border-left: 1px solid #ffffff!important;
			padding: 42px 0;
			border-radius: 0;
		}

		.count-title {
			color: white;
			font-family: montserrat;
			font-size: 45px;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 0;
			text-align: center;
		}

		.count-text {
			font-size: 13px;
			font-family: montserrat;
			margin-top: 10px;
			font-weight: bold;
			color: white;
			margin-bottom: 0;
			text-align: center;
		}

		.fa-2x {
			margin: 0 auto;
			float: none;
			display: table;
			color: '#4ad1e5';
		}
	}
// services section
.services {
	padding:80px 0;
	text-align: center;
	&__header {
		margin-bottom: 40px;
	}
	&__items {
		display: -webkit-box;
		.item{
			text-align: left;
			padding-left: 10%;
			width: 90%;
			&__title {
				font-family: montserrat;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}
.unique-section {
	margin-top: 40px;
	padding-top:40px;
	position:relative;
	height: 100%;
	background-size:cover;
	
	.unique-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: .5s ease;
		background-color:#ffffffd4;
	}
	.devices {
		figure {
			  z-index: 99;
			  width: auto;
			    bottom: -53px;
			    height: 100%;
			    background: #0000ff00;
			    display: flex;
			    justify-content: center;
			    position: relative;

		}
	}
}

.what-we-do {
	padding-top: 100px;
	text-align: center;
	&__header {
		margin-bottom: 40px;
	}
	.image-viewer {
		img {
			object-fit: cover;
			width: 100%;
			height: 353px;
		}
	}
	#services-right {
		height: 400px;
	}
	#accordion {
		li {
			list-style: none;
		}

	.accordion {
		position:relative;
		border:1px solid #cacaca!important;
		margin-bottom: 0;
		margin-top: 10px;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		img {
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
	}
	.accordion:active, .accordion:focus{
		box-shadow:none!important;
	}
	.accordion:after {
		position: absolute;
		content: '\f107';
		font-family: fontAwesome!important;
		font-size: 44px;
		color: #cacaca;
		font-weight: bold;
		right: 28px;
		top: 0;
	}
	.icon_holder{
		&:after {
		position: absolute;
		content: '\f106';
		font-family: fontAwesome!important;
		font-size: 44px;
		color: #cacaca;
		font-weight: bold;
		right: 28px;
		top: 0;

		}
	}
	
	.topic {
		padding: 20px 20px!important;
    	text-align: justify;
		display: none;
		border:1px solid #cacaca;
		padding-left: 12px;
		padding-right: 12px;
		overflow-y: auto;
		max-height: 150px;

		&.actives {
			display: block;
		}

		/*scroll bar */
		/* width */
		&::-webkit-scrollbar {
			width: 7px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 1px #d8d8d3;
			background-color:#d8d8d8;
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #95e1d3; 
			border-radius: 2px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #95e1d5; 
		}
	}
}

}

.testimonial_slider {	
	margin:100px 0 0 0;
	hr {
		width: 39px;
		margin-top: 20px;
		margin: 10px 0 0 0 !important;
		border-top: 3px solid #f76c6f !important;
	}
	a {
		color: transparent;
	}
	.autor {
		display: -webkit-box;
		border: 0;
		padding-top: 20px;
	}

	ul.transparent-btns_tabs.transparent-btns2_tabs {
		display: none;
	}

	.rslides img {
		object-fit: cover;
		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;
	}
}
.our-team {
	width: 100%;
	text-align: center;
	padding-top:120px;
	&__header {
		margin-bottom: 40px;
	}
		.overlay {
			position:relative;
			height: auto;
			&__item-image{
				object-fit: cover;
				height: 362px;
				width: 100%;
			}
			&__item{
				z-index: 13;
				position: absolute;
				right: 0;
				left: 0;
				opacity: 0;
				transform: translateY(-50%);
				top: 50%;
				text-align: center;
				&--hover {

					a {
						padding: 5px 12px;
						color: #ed8989;
						background-color:#ecd587;
						margin: -3px;
						border: 1px solid #ed8989;
					}
					a:hover {
						padding: 5px 12px;
						color: white;
						background-color: #ed8989;
						margin: -3px;
					}
					img {
						width: 7px;
						height: auto;
					}
				}
			}
	
				&:hover{
					.overlay__item {
							opacity: 1;
							}
						} 


				&:hover:after {
				    content: "";
				    top: 0;
				    left: 0;
				    position: absolute;
				    background-color: #b5b53a6b;
				    width: 100%;
				    height: 100%;
				    box-shadow: 7px 7px #95e1d3;
				    transition: .5s ease;
				    background-image: linear-gradient(to bottom, #f48c82de, #fda07dad, #ffb57ba6, #ffcc7fb5, #fce389fa);

					}
		}

}
.logo-section {
	padding: 70px 0;
   .logo-list {
   	img {
   		   max-width: 49%;
   	}
   }
}
.work-section {
	width: 100%;
	text-align: center;
	.work-text {
		text-align: center;
	}
}
#work-gellery {
	margin-top: 40px;
	.grid-container {
		  display: grid;
		  background-color: #2196F3;

	.something {
		 background-color: rgba(255, 255, 255, 0.8);
		  text-align: center;
		  font-size: 30px;
	}
	#box1 {
	  grid-column: 1 / span 1;
	  grid-row: 1;
	}

	#box2{
	  grid-column: 2;
	  grid-row: 1 / span 1;
	}
	#box4{
	  grid-column: 1;
	  grid-row: 2 / span 1;
	}
	#box5{
	  grid-column: 2;
	  grid-row: 2 / span 1;
	}
	#box3{
	  grid-column: 3;
	  grid-row: 1 / span 2;
	}
	#box6{
	  grid-column: 4;
	  grid-row: 1 / span 1;
	}

	#box7{
	  grid-column: 4;
	  grid-row: 2 / span 1;
	}
	


	.work-post{
			position: relative;
    		text-align: center;
    		background-size: cover;
    		figure {
    			margin:0;
    		}
    		.overlay {
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    height: 100%;
				    width: 100%;
				    opacity: 0;
				    transition: .5s ease;
				    background-image: linear-gradient(to bottom, #f48c82de, #fda07dad, #ffb57ba6, #ffcc7fb5, #fce389fa);
				&__text {
					color: white!important;
						text-transform: uppercase;
						text-decoration: none;
						font-size: 15px;
						font-family: montserrat;
						font-weight: bold;
					}
				p{
					margin: 0;
					font-size: 18px;
				}
				i {
					padding: 11px;
    					font-size: 51px;
				}
					
				.read-more {
					    	display: none;
					    }
				a {
				    	color: white!important;
					    position: absolute;
					    top: 50%;
					    transform: translatey(-50%);
					    left: 0;
					    right: 0;
					    text-decoration: none;

				 }

				&:hover { 
							opacity: 1;
						}

				}
		}
		
	}

}


.quote2_slider {

	margin:100px 0;
	hr {
		width: 39px;
		margin-top: 20px;
		margin: 10px 0 0 0 !important;
		border-top: 3px solid #f76c6f !important;
	}
	a {
		color: transparent;
	}
	.autor {
		display: -webkit-box;
		border: 0;
		padding-top: 20px;
	}
	.transparent-btns3_tabs {
		display: none;
	}
	a.transparent-btns_nav.transparent-btns3_nav.prev:after {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f104';
    font-size: 44px;
    left: 40px;
    font-family: fontAwesome!important;
    color: black;

	}

	.rslides img {
        border-radius: 50%;
	    width: 97px;
	    height: 92px!important;
	    position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
.testimonial {
	margin-top: 40px;
	position:relative;
	height: fit-content;
	background-size:cover;
	padding-bottom: 70px;
	text-align: center;
	&__header {
		padding:40px 0;
	}

		.newClass { display: none;
		} 


		img {
	    border-radius: 50%;
	    width: 100px;
	    height: 92px;
			}
	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: .5s ease;
		background-color:#ffffffd4;
	}
	.header {
		padding-top: 70px;
	}
	&__items {
		padding-top:40px;
		img {
			    margin: auto;
			}

	.item{
		text-align: left;
		&__header:after {
		    content: "";
		    display: block;
		    width: 18%;
		    padding-top: 20px;
		    border-color: #e68c83;
		    border-bottom: 2px solid #f76c6f;
		    font-style: italic;
		}
		&__name {
			    font-family: montserrat;
    			font-weight: bold;
    			font-size: 17px;
    			text-transform: uppercase;
				}
		&__testimony {

				}

			}
		}

}
.blog{
	margin-top: 40px;
	text-align: center;
	&__header {
		margin-bottom: 40px;
	}
	&__items {
		.item {

			&__header{
				position:relative;
				.date-label {
					    width: 64px;
					    border: 2px solid;
					    color: #fff;
					    background-color: #95e1d3;
					    padding: 12px 5px;
					    text-align: center;
					    font-family: "Montserrat";
					    z-index: 9;
					    position: absolute;
					    top: 96px;
					    left: -15px;
					    p {
					    	margin-bottom: 0;
					    }
				}
			}
		  &__info {
    				text-align: left;

    				h5.blog-title {
						    font-family: montserrat;
						    font-weight: bold;
						    font-size: 17px;
						    color: #495057;
						    text-transform: uppercase;
						}
						    				a.read-more {
    					display: none;
    				}
    				svg {
    					 color: #95e1d3;
    				}
    				svg.svg-inline--fa.fa-comment.fa-w-18 {
						    margin-left: 11px;

						}
				}
		}
	}

	
}


.map-section {
	margin-top: 40px;
	position:relative;
	height: fit-content;
	background-size:cover;
	padding-bottom: 70px;
	.newClass { display: none;
		
		} 

	.map-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: .5s ease;
		background-color:#ffffffd4;
	}
	header {
		text-align: center;
		width: 100%;
		padding-top: 70px;
		font-family: montserrat;
	    font-weight: bold;
	    font-size: 17px;
	    color: #f76c6f;
	    cursor: pointer;
	    text-transform: uppercase;
	    svg.svg-inline--fa.fa-map-marker-alt.fa-w-12 {
			    font-size: 26px;
			    margin-bottom: 12px;
			}
		h5{
			&::after {
			    content: "";
			    margin: auto;
			    display: block;
			    width: 52px;
			    padding-top: 14px;
			    border-color: #e68c83;
			    border-bottom: 2px solid #f76c6f;
					}

			} 
	}
}

} //  end main

