/**
 * Menu
 */

.page-id-6 {
	.site-header {
		background-color: #f5f5dc00!important;
	}
}
 .site-header {
 	background-color: #fd5f60bf;
 	position: absolute;
    z-index: 99;
    width: 100%;
    .nav-header {
    	margin-left: 10vw;
		margin-right: 10vw;
    }
 	.col-padding-0 {
 		display: -webkit-box;
 		padding: 0;
 		div#secondary {
 			color: white;
 		}
 		li:first-child {
 			padding-left:20px;
 		}
 	}
 	.widget-area {
 		padding: 0;
 		border-radius: 32px;
 		.widget {
 			margin: 0;
 		}
 	}
 	padding: 1rem 0;
 	
 	.main-navigation  { 
 		width: 100%;
 		.primary-menu-wrapper {
 		margin: auto;
 		display: inline-flex;

	 		li {
	 			display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
	 			a {
			 		font-weight: bold;
			 		color: white!important;
		 		}
	 			&:hover>a {
			 		padding-bottom: 6px;
			 		text-decoration: none;
			 		border-bottom: 1px solid #f7e499;
			 		border-bottom: 2px solid #f6e28f;
		 		}
	 		}
	 		
	 	}
 	}

 	.site-branding {
 		a:hover {
 			text-decoration: none;
 		}
 		.header-logo {
 			font-weight: bold;
		    font-family: montserrat;
		    color: white;
		    font-size: 29px;
 		}
 		.header-logo:hover {
 			padding-bottom: 5px;
 			border-shadow: inherit;
 			text-shadow: -3px 3px #f5746c;
 			font-weight: bold;
    
 		}
 		.site-title {
 			img {}
 		}
 		.site-description {
 			display: none;
 		}
 	}

 	.navbar-form {
 		input[type="text"] {
 			padding-left: 1.25rem;
 			@include font-size(0.875);
 			border-top-left-radius: 2rem;
 			border-bottom-left-radius: 2rem;
 		}
 	}
 }
