#content-wrapper {
	padding-top: 93px!important;
	h1 {
		transform: uppercase;
		&.entry-title {
    color: #fe8788;
	}
	}
	.widget a {
    font-weight: 500;
    font-size: 14px;
    font-size: .875rem;
    color: #95e1d3;
	}
}
