/*--------------------------------------------------------------
# Large devices - 1200px
--------------------------------------------------------------*/
@media (max-width: $desktop-size - 1) {
		.site-header {
					.nav-header {
						    margin-left: 10vw;
						    margin-right: 10vw;
						   }
						 }

}