/*--------------------------------------------------------------
# Medium devices - 992px
--------------------------------------------------------------*/
@media (max-width: $tablet-size - 1) {
	
	.text-right,
	.text-left {
		text-align: center !important;
	}
	
	.site-header {
	.nav-header {
	    margin-left: 0!important;
	    margin-right: 0!important;
	}
	}
	#slider-wrapper {
  		.rslides {
				.slide1-description {
				        line-height: 4.8rem;
    					font-size: 4.5rem;

				}
				.slide1-heading {
					font-size: 4.5rem;
				    margin-top: 28px;
					}

		
			}
		 }
	
	.main-navigation {
		width: auto!important;
		.primary-menu-wrapper {
 		display: inline-flex;
				li {
				    display: inline-block;
				    position: relative;
				    top: 50%;
				    transform: translateY(-50%);
				}
			} 
	}
	.blog-section {
	.blog-wrapper {
		.blog-contents {
			.blog-image {
				.date-label {
					    top: 50%!important;
					    transform: translateY(-50%)!important;
					}
				}
			}
		}
	}
}