/*--------------------------------------------------------------
# Small devices - 768px
--------------------------------------------------------------*/
@media (max-width: $phone-size - 1) {
	.main-navigation { 
		width: auto!important;
			.primary-menu-wrapper {
					display: block!important;
					text-align: center;
				    position: relative;
				    padding: 20px;
					.menu-toggle {
						position: relative;
		    			top: 1px;
					}
		 			ul {
		 				background: #f76c6f;
	    				padding: 7px;
		 				li {
				 			display: inline!important;
						    position: relative;
						    text-align: left;
						    	a {
						    		padding:0;
						    	}
		 					}
		 			}
		 		ul {
				 	&.secondary-widget-menu {
				 			display: none!important;
				 		}
		 		}

	 		}
	 		
	}
	
	.sevice2-section { 
		ul, ol {
			padding: 0;
			margin: 0;
		}
	}
	#slider-wrapper {

		ul.transparent-btns_tabs{
			display: none;
		}
		.rslides {
			.slider-text {
				padding-top:40px;
			}
			img {
				height: 70vh!important;
			}
			.slide1-description {
				line-height: 2.8rem;
				font-size: 2.5rem;
				width: 96%;

			}

			hr {
				margin-top: 0;
				margin-bottom: 10px!important;
			}
			.slide1-heading {
				font-size: 1.9rem;
				margin-top: 28px;
			}
		}
	}

	.site-header {
		.site-branding {
			display: none;
		}

	}

	.blog{
		&__items {
			.item {
				margin-top: 70px;
			}
		}
	}		
	.footer-contents {
		text-align: center!important;
			h5 {
					margin-top: 50px;
					text-align: center;
				}
		.mc4wp-form-fields {
			    display: block!important;
			    text-align:center;
			    p {
			    	 margin-top: 20px;
    				max-width: 100%!important; 
    				input[type="email"] {
    					text-align: center;
    					width: 100%;
    				}
			    }
			   
		}

		.footer-blog {
			img {
					margin-top: 40px;
					width: 100%;
				}
			.footer-text-contents{
				text-align: center;
				small {
					position: relative!important;
					text-align: center;
					h5 {
						margin-top: 0;
					}
				}
			}

		}
		}


	#work-gellery {
		
			#box1 {
				grid-column: 1 / span 1!important;
				grid-row: 1!important;
			}

			#box2{
				grid-column: 2!important;
				grid-row: 1 / span 1!important;
			}
			#box4{
				grid-column: 1!important;
				grid-row: 2 / span 1!important;
			}
			#box5{
				grid-column: 2!important;
				grid-row: 2 / span 1!important;
			}
			#box3{
				grid-column: 1!important;
				grid-row: 4 / span 2!important;
			}
			#box6{
				grid-column: 2!important;
				grid-row: 4 / span 1!important;
			}

			#box7{
				grid-column: 2!important;
				grid-row: 5 / span 1!important;
			}
		}
	.our-team {
		&__items {
			.overlay {
				margin-top: 35px;
			}
		}
	}

.services {
	padding:0 20px!important;
}
	
} //  end media 