.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {}
	.comments-area .comments-title {}
	.comments-area .comment-list {}
		.comments-area .comment-list .comment {
			margin-top: 30px;
		}
		.comments-area .comment-list .comment .comment-body {}
		.comments-area .comment-list .comment .comment-body .comment-meta {}
		.comments-area .comment-list .comment .comment-body .comment-meta:after {}
		.comments-area .comment-list .comment .comment-body .comment-meta .comment-author {}
		.comments-area .comment-list .comment .comment-body .comment-meta .comment-author img.avatar {
		    float: left;
		    background-color: #fff;
		    margin: 0 10px 0 0px;
		    border-radius: 50%;
		    -moz-border-radius: 50%;
		}
		.comments-area .comment-list .comment .comment-body .comment-meta .comment-author .fn {
		    text-transform: uppercase;
		 	font-size: 18px;
		}
		.comments-area .comment-list .comment .comment-body .comment-meta .comment-author .says {
			display: none;
		}
		.comments-area .comment-list .comment .comment-body .comment-meta .comment-metadata {
			font-weight: normal;
		    font-size: 13px;
		    font-style: italic;
		    padding: 5px 0 0 !important;
		}
			.comments-area .comment-list .comment .comment-body .comment-meta .comment-metadata a {
			    color: #999;
			}
		.comments-area .comment-list .comment .comment-body .comment-content {
		    border: 1px solid #d2d2d2;
		    padding: 10px 20px 25px;
		    margin: 20px 0 0;
		}
			.comments-area .comment-list .comment .comment-body .comment-content p {
			    margin: 10px 5px 10px 0
			}
		.comments-area .comment-list .comment .comment-body .reply {
		    position: absolute;
		    right: 26px;
		    margin-top: -35px;
			padding: 4px 26px;
		    background-color: #eee;
		    border-radius: 10rem;
		}
			.comments-area .comment-list .comment .comment-body .reply a {
			    text-decoration: none;
			    font-size: 13px;
			    font-weight: normal;
			    display: block;
			}
		
		.comments-area .comment-list .comment .children {}

	.comments-area .comment-respond {
	    margin-top: 6rem;
	}
		.comments-area .comment-respond .comment-reply-title {
			text-transform: uppercase;
		}
			.comments-area .comment-respond .comment-reply-title #cancel-comment-reply-link {
			    font-size: 12px;
			}
	.comments-area .comment-respond .form-submit {
		float: right;
	}